#quantity {
    margin-right: 10px;
}

.delete {
    margin-right: 30px;
}

.addedToCart {
    font-style: italic
}

input {
  background-color: var(--app-bg-color);
}

button {
  background-color: var(--button-bg-color);
}

form {
  display: flex wrap;

}