<ul>
    <li *ngFor="let item of cart">
        <app-product [product]="item.product"></app-product>
        <form (ngSubmit)="updateQuantity(item.id, item.quantity)">
            <label for="quantity">Quantity</label>
            <input
                type="number" 
                min="1"
                max="100"
                step="1"
                pattern="[0-9]*"
                id="quantity" 
                name="quantity" 
                [(ngModel)]="item.quantity"
                #quantity="ngModel"
            >
            <button type="submit" [disabled]="quantity.invalid || quantity.pristine">Update</button>
            <button type="button" (click)="deleteItem(item.id)">delete</button>
        </form>
    </li>
</ul>
<label for="total">Total</label>
<p>{{ total }}</p>
<a routerLink="/checkout">Checkout</a>