.content {
    padding: 20px;
}
.summary {
    padding-top: 20px;
    text-align: center;
    font-size: 1.3em;
}

.summary > * {
    display: inline-block;
}

label {
    font-weight: 500;
    margin-right: 10px;
}

.total {
    font-weight: 600;
    margin-right: 50px;
}

.checkout {
    background-color: orange;
    font-weight: 600;
    color: white;
    font-size: inherit;
    padding: 5px;
}

.cart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 40%;
    padding: 10px;
}

.details {
    display: flex;
    justify-content: space-between;
}

#quantity {
    margin-right: 10px;
}

.update {
    margin-right: 30px;
}

form {
    text-align: center;
}

h1 {
    text-align: center;
}

@media (max-width: 450px) {
    .item {
        width: 100%;
    }
}
@media (min-width: 450px) {
    .details {
        display: block;
    }
}

@media (min-width: 600px) {
    .details {
        display: flex;
    }
}
