<div class="content" *ngIf="cart.length > 0">
    <div class="summary">
        <label for="total">Total: </label>
        <p class="total">{{ total }}</p>
        <a *ngIf="!checkout" routerLink="/checkout"><button class="checkout" type="button">Checkout</button></a>
    </div>
    <ul class="cart">
        <li class="item" *ngFor="let item of cart">
            <app-product-image [url]="item.product.url"></app-product-image>
            <div class="details">
                <app-product-name [name]="item.product.name"></app-product-name>
                <app-product-price [price]="item.product.price"></app-product-price>
            </div>
            <form  (ngSubmit)="updateQuantity(item.id, item.quantity)">
                <label *ngIf="checkout" for="quantity">Quantity:</label>
                <input
                    type="number" 
                    min="1"
                    max="100"
                    step="1"
                    pattern="[0-9]*"
                    id="quantity" 
                    name="quantity" 
                    [(ngModel)]="item.quantity"
                    #quantity="ngModel"
                    aria-label="quantity"
                    [disabled]="checkout"
                >
                <button *ngIf="!checkout" class="update" type="submit" [disabled]="quantity.invalid || quantity.pristine">Update</button>
                <button *ngIf="!checkout" class="delete" type="button" (click)="deleteItem(item.id)">delete</button>
            </form>
        </li>
    </ul>
</div>
<div class="content" *ngIf="cart.length == 0">
    <h1>your cart is empty</h1>
</div>