<div class="content" *ngIf="cart.length > 0">
    <div class="summary">
        <label for="total">Total: </label>
        <p class="total">{{ total }}</p>
        <a *ngIf="!checkout" routerLink="/checkout"><button class="checkout" type="button">Checkout</button></a>
    </div>
    <ul class="cart">
        <li class="item" *ngFor="let item of cart">
            <app-product-image [url]="item.product.url"></app-product-image>
            <div class="details">
                <app-product-name [name]="item.product.name"></app-product-name>
                <app-product-price [price]="item.product.price"></app-product-price>
            </div>
            <!-- 
                send information from parent to child [],
                receive information from child () and assign action
            -->
            <app-add-to-cart 
                [quantity]="item.quantity"
                [productId]="item.product.id"
                [inCart] = "true"
                [inCheckout]="checkout"
                (updateQuantity)="updateQuantity($event)"
                (deleteItem)="deleteItem($event)"
            ></app-add-to-cart>
        </li> 
    </ul>
</div>
<div class="content" *ngIf="cart.length == 0">
    <h1>your cart is empty</h1>
</div>