/* You can add global styles to this file, and also import other style files */
:root {
  
  /* body background */
  --main-bg-color: #d4d4d4;
  
  /* app background */
  --app-bg-color: #f2f2f2;
  
  /* HEADER */
  /* header border color */
  --header-border-color: #022859;
  /* --header-color: black; */
  --header-color:  #022859;

  /* 

    Sand Tan: #e1b382

Sand Tan Shadow: #c89666

Night Blue: #2d545e

Night Blue Shadow: #12343b
    
    */
    /* --header-color: #12343b; */
    --link-color: #2d545e;

    /* --main-bg-color: white; */
    --main-color: black;
    /* --main-font:  */
    /* --button-bg-color: #e1b382;
    --button-border-color: #c89666; */

    /* BUTTONS */
    /* --button-bg-color: var(--header-color); */
    --button-bg-color: var(--main-bg-color);
    --button-border-color: #2d545e;
    --button-color: white;
    --button-padding: 0.5rem;
    --button-margin: 5px auto;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    margin: auto;
    background-color: var(--main-bg-color);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

button {
    padding: var(--button-padding);
    margin: var(--button-margin);
    /* color: var(--button-color);
    background-color: var(--button-bg-color);
    border: 2px solid var(--button-border-color); */
    border-radius: 5px;
}

input {
    padding: var(--button-padding);
    margin: var(--button-margin);
}


input.ng-invalid.ng-dirty {
    border-left: solid 5px red;
}


.displayBlock {
    display: block;
}

.inputError {
    background-color: rgb(248, 163, 163);
    font-size: 0.8em;
    padding: 2px;
}
