
form {

    width: 100%;
    max-width: 400px;
    margin: 20px auto 10px auto;
}

form * {
    padding: 5px;
    display: block;
}

form input {
    width: 100%;
    margin-bottom: 20px;
}

form button {
    margin-top: 40px;
    padding: 10px;
    font-weight: 600;
}
.success {
    width: 80%;
    margin: 20px auto 0 auto;
    padding: 50px;
    text-align: center;
    background-color: whitesmoke;
    border: solid 1px lightgray;
    border-radius: 5px;
}

.thanks {
    font-size: 1.3em;
    margin-bottom: 20px;
}

.name {
    font-style: italic;
    font-weight: 600;
}

