<div class="checkout">
    <form *ngIf="!success" #form="ngForm" (ngSubmit)="onSubmit()">
        <label for="name">Full name</label>
        <input  type="text" id="name"
        minlength="2"
        required
        [(ngModel)]="name" name="name" 
        >
        <p *ngIf=""></p>
        <label for="address">Address</label>
        <input type="text" id="address"
            required
            minlength="5"
            [(ngModel)]="address" name="address"
            >
            <label for="creditCard">Credit card number</label>
            <input type="text" id="creditCard"
            required
            pattern="[0-9]*"
            minlength="2"
            maxlength="2"
            [(ngModel)]="creditCard" name="creditCard"
        >
        <button type="submit" [disabled]="form.invalid">Submit</button>
    </form>
    <div class="success" *ngIf="success">
        <p class="thanks">Thank you <span class="name">{{ name }}</span> for you order!</p>
        <p>Your order will be delivered to</p>
        <p class="address">{{ address }}</p>
        
    </div>
    <app-cart [checkout]="true"></app-cart>
</div>