<app-cart></app-cart>
<form #form="ngForm" (ngSubmit)="onSubmit()">
    <label for="name">Full name</label>
    <input
        type="text"
        name="name" 
        id="name"
        [(ngModel)]="name"
    >
    <label for="address">Address</label>
    <input 
        type="text"
        name="name"
        id="name"
    >
    <label for="credit-card">Credit card number</label>
    <input
        type="text"
        id="credit-card"
    >
    <button type="submit" [disabled]="form.invalid">Submit</button>
</form>