<div class="checkout">
    <form *ngIf="!success" #form="ngForm" (ngSubmit)="onSubmit()">
        <label for="name">Full name</label>
        <input  type="text" id="name"
        minlength="2"
        pattern = "[a-z, A-Z]*"
        required
        [(ngModel)]="name" name="name" 
        #fullName = "ngModel"
        >
        <p *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)"
            class="inputError">
            Name has to be at least 2 characters long.
        </p>
        <label for="address">Address</label>
        <input type="text" id="address"
            required
            [(ngModel)]="address" name="address"
            #shippingAddress = "ngModel"
        >
        <p *ngIf="shippingAddress.invalid && (shippingAddress.touched || shippingAddress.dirty)"
            class="inputError">
            Address is a required field.
        </p>
        <label for="creditCard">Credit card number</label>
        <input type="text" id="creditCard"
            required
            pattern="[0-9]*"
            minlength="4"
            maxlength="4"
            [(ngModel)]="creditCard" name="creditCard"
            #card = "ngModel"
        >
        <p *ngIf="card.invalid && (card.touched || card.dirty)"
            class="inputError">Credit card has to be a 4 digit number.</p>
        <button type="submit" [disabled]="form.invalid">Submit</button>
    </form>
    <div class="success" *ngIf="success">
        <p class="thanks">Thank you <span class="name">{{ name }}</span> for you order!</p>
        <p>Your order will be delivered to</p>
        <p class="address">{{ address }}</p>
        
    </div>
    <app-cart [checkout]="true"></app-cart>
</div>